.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    /* margin-left: 70px; */
}

.text {
    color: #f7f7f9;
    font-size: 2rem;
    padding: 15px;
    font-weight: 700;
    margin-left: 1rem
}

.flex-property {
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    margin: 0 1rem;
}


@media only screen and (max-width:625px) {
    .container {
        width: 100%;
        flex-direction: column;
        position: relative;
    }

    .flex-property {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
}