.table {
    background: #20202a;
    color: #fff;
    /* margin: 1rem; */
    box-shadow: 1px 3px 2px rgba(0, 0, 0, .2);
    padding: 20px;
}

.color {
    color: white;
}

.btn {
    padding: 5px 15px;
    border-radius: 20px;
    border: .4px solid transparent;
}

.color-1 {
    background-color: #195345;
    color: #12b789;
}

.color-2 {
    background-color: #63313b;
    color: #b85e67;
}